<h1>New location</h1>

<form id="new-location" name="location">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Location" />
  </div>

</form>

<a href="#/index">Back</a>