<div id="locations"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new LeApi.Routers.LocationsRouter({locations: <%= @locations.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

<!-- <h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.title %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %> -->
